<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Jobify || Home</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <!-- font awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <!-- boostrap icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

  <!-- essentials for leaflet map -->
  <!-- leafletjs css -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
  <!-- leafletjs js -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

</head>


<body>

  <!-- navbar -->
  <%- include('_nav')%>
    <!-- navbar -->

    <!-- login -->
    <section class="vh-100 bg-image p-5"
      style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
      <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
              <div class="card" style="border-radius: 15px;">

                <!-- alert message :sucessfull-->
                <div class=container" id="message-alert">

                </div>
                <!-- alert message -->



                <div class="card-body p-5">
                  <h2 class="text-uppercase text-center mb-5">Create an account</h2>
                  <form action="/citizen/register" method="POST" id="citizen-registration-form">
                    <!-- NIC -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="nic">NIC</label>
                      <input type="text" id="nic" name="nic"
                        class="form-control form-control-lg border border-secondary" />
                      <div class="invalid-feedback"></div>
                    </div>

                    <!-- Acccount Type -->
                    <!-- industry -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="accType"> Type Of Account Registation.</label>
                      <select
                        class="form-select form-control form-control-lg form-select-lg mb-3 border border-secondary"
                        aria-label=".form-select-lg example" id="accType">
                        <option selected="selected" value=" "> Please select Account Type</option>
                        <option value="company_role">Company Office</option>
                        <option value="citizen_role">Citizen</option>
                      </select>
                      <div class="invalid-feedback"></div>
                    </div>
                    <!-- Acccount Type -->


                    <!-- birthday -->
                    <div class="form-outline mb-4">
                      <label class="control-label" for="Date Of Birth">
                        Date Of Birth
                      </label>
                      <input id="uDOB" name="uDOB" type="date" placeholder="Date Of Birth"
                        class="form-control form-control-lg border border-secondary">
                      <div class="invalid-feedback"></div>
                    </div>
                    <!-- Name -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="userName"> Name with Initials</label>
                      <input type="text" id="userName" name="userName"
                        class="form-control form-control-lg border border-secondary" />
                      <div class="invalid-feedback"></div>
                    </div>
                    <!-- email -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="email">Email Address</label>
                      <input type="text" class="form-control form-control-lg border border-secondary " name="email"
                        id="email" />
                      <!-- <div class="valid-feedback">
                                              valid email address
                                            </div> -->
                      <div class="invalid-feedback"></div>
                    </div>


                    <!-- Skill input -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="affiliation">Affiliations</label>

                      <div id="inputFormRow">
                        <div class="input-group  mb-3">
                          <input type="text" name="affiliation-input"
                            class="form-control form-control-lg border border-secondary affiliation-input"
                            placeholder="Enter Affiliation" autocomplete="off">
                          <div class="input-group-append">
                            <button id="removeRow" type="button" class="btn btn-danger">X</button>
                          </div>
                        </div>
                      </div>

                      <div id="newRow"></div>
                      <button id="addRow" type="button" class="btn btn-info">Add Affiliation</button>
                    </div>



                    <!-- password -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="password">Enter your password</label>
                      <input type="password" class="form-control form-control-lg border border-secondary"
                        name="password" id="password" />
                      <!-- <div class="valid-feedback">
                                              Looks good!
                                            </div> -->
                      <div class="invalid-feedback"></div>

                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="repeat-password">Repeat your password</label>
                      <input type="password" class="form-control form-control-lg border border-secondary"
                        name="cPassword" id="cPassword" />
                      <!-- <div class="valid-feedback">
                                              Looks good!
                                            </div> -->
                      <div class="invalid-feedback"></div>

                    </div>
                    <!-- town -->

                    <!-- location -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="region">Region</label>
                      <select name="region" id="region" placeholder="All Regions"
                        class="form-control form-control-lg border border-secondary" autocomplete="off">
                        <option value="" selected disabled> Select Region </option>
                        <option value="Abilipitiya">Abilipitiya</option>
                        <option value="Agunukolapelessa">Agunukolapelessa</option>
                        <option value="Ahangama">Ahangama</option>
                        <option value="Ahungalla">Ahungalla</option>
                        <option value="Akkaraipattu">Akkaraipattu</option>
                        <option value="Akurana">Akurana</option>
                        <option value="Akuressa">Akuressa</option>
                        <option value="Alawwa">Alawwa</option>
                        <option value="Aluthgama">Aluthgama</option>
                        <option value="Ambalangoda">Ambalangoda</option>
                        <option value="Ambalantota">Ambalantota</option>
                        <option value="Ambuldeniya">Ambuldeniya</option>
                        <option value="Ampara">Ampara</option>
                        <option value="Angoda">Angoda</option>
                        <option value="Anuradhapura">Anuradhapura</option>
                        <option value="Aralaganwila">Aralaganwila</option>
                        <option value="Arangala">Arangala</option>
                        <option value="Athurugiriya">Athurugiriya</option>
                        <option value="Attidiya">Attidiya</option>
                        <option value="Avissawella">Avissawella</option>
                        <option value="Baddegama">Baddegama</option>
                        <option value="Badulla">Badulla</option>
                        <option value="Balagolla">Balagolla</option>
                        <option value="Balangoda">Balangoda</option>
                        <option value="Balapitiya">Balapitiya</option>
                        <option value="Balummahara">Balummahara</option>
                        <option value="Bambalapitiya">Bambalapitiya</option>
                        <option value="Bandaragama">Bandaragama</option>
                        <option value="Bandarawela">Bandarawela</option>
                        <option value="Batapola">Batapola</option>
                        <option value="Battaramulla">Battaramulla</option>
                        <option value="Batticaloa">Batticaloa</option>
                        <option value="Beliatta">Beliatta</option>
                        <option value="Belihuloya">Belihuloya</option>
                        <option value="Belummahara">Belummahara</option>
                        <option value="Bemmulla">Bemmulla</option>
                        <option value="Bentota">Bentota</option>
                        <option value="Beruwala">Beruwala</option>
                        <option value="Bibile">Bibile</option>
                        <option value="Bingiriya">Bingiriya</option>
                        <option value="Biyagama">Biyagama</option>
                        <option value="Boralesgamuwa">Boralesgamuwa</option>
                        <option value="Borella">Borella</option>
                        <option value="4879">Ihalagamae Ihalagama</option>
                        <option value="Bulathkohupitiya">Bulathkohupitiya</option>
                        <option value="Buthgamuwa">Buthgamuwa</option>
                        <option value="Buttala">Buttala</option>
                        <option value="Chavakacheri">Chavakacheri</option>
                        <option value="Chilaw">Chilaw</option>
                        <option value="Chunnakam">Chunnakam</option>
                        <option value="Coimbatore">Coimbatore</option>
                        <option value="Colombo 01">Colombo 01</option>
                        <option value="Colombo 02">Colombo 02</option>
                        <option value="Colombo 03">Colombo 03</option>
                        <option value="Colombo 04">Colombo 04</option>
                        <option value="Colombo 05">Colombo 05</option>
                        <option value="Colombo 06">Colombo 06</option>
                        <option value="Colombo 07">Colombo 07</option>
                        <option value="Colombo 08">Colombo 08</option>
                        <option value="Colombo 09">Colombo 09</option>
                        <option value="Colombo 10">Colombo 10</option>
                        <option value="Colombo 11">Colombo 11</option>
                        <option value="Colombo 12">Colombo 12</option>
                        <option value="Colombo 13">Colombo 13</option>
                        <option value="Colombo 14">Colombo 14</option>
                        <option value="Colombo 15">Colombo 15</option>
                        <option value="Dalugama">Dalugama</option>
                        <option value="Dambulla">Dambulla</option>
                        <option value="Dankotuwa">Dankotuwa</option>
                        <option value="Dehiattakandiya">Dehiattakandiya</option>
                        <option value="Dehiowita">Dehiowita</option>
                        <option value="Dehiwala">Dehiwala</option>
                        <option value="Delgoda">Delgoda</option>
                        <option value="Delkanda">Delkanda</option>
                        <option value="Deniyaya">Deniyaya</option>
                        <option value="Depanama">Depanama</option>
                        <option value="Deraniyagala">Deraniyagala</option>
                        <option value="Digana">Digana</option>
                        <option value="Dikwella">Dikwella</option>
                        <option value="Divulapitiya">Divulapitiya</option>
                        <option value="Diyathalawa">Diyathalawa</option>
                        <option value="Dompe">Dompe</option>
                        <option value="Eheliyagoda">Eheliyagoda</option>
                        <option value="Ekala">Ekala</option>
                        <option value="Elakanda">Elakanda</option>
                        <option value="Ella">Ella</option>
                        <option value="Elpitiya">Elpitiya</option>
                        <option value="Embilipitiya">Embilipitiya</option>
                        <option value="Eppawala">Eppawala</option>
                        <option value="Eravur">Eravur</option>
                        <option value="1442">Kottel Kotte</option>
                        <option value="Ettampitiya">Ettampitiya</option>
                        <option value="Galagedara">Galagedara</option>
                        <option value="Galawewa">Galawewa</option>
                        <option value="Galawilawatta">Galawilawatta</option>
                        <option value="Galenbindunuwewa">Galenbindunuwewa</option>
                        <option value="Galewela">Galewela</option>
                        <option value="Galgamuwa">Galgamuwa</option>
                        <option value="Galigamuwa">Galigamuwa</option>
                        <option value="Galle">Galle</option>
                        <option value="Galnewa">Galnewa</option>
                        <option value="Gampaha">Gampaha</option>
                        <option value="Gampola">Gampola</option>
                        <option value="Ganemulla">Ganemulla</option>
                        <option value="Gangodawila">Gangodawila</option>
                        <option value="Gelioya">Gelioya</option>
                        <option value="Ginigathhena">Ginigathhena</option>
                        <option value="Giriulla">Giriulla</option>
                        <option value="Godagama">Godagama</option>
                        <option value="Gothatuwa">Gothatuwa</option>
                        <option value="Habarana">Habarana</option>
                        <option value="Hakmana">Hakmana</option>
                        <option value="4906">elai-ela</option>
                        <option value="Hambantota">Hambantota</option>
                        <option value="Hanwella">Hanwella</option>
                        <option value="Haputale">Haputale</option>
                        <option value="Harispattuwa">Harispattuwa</option>
                        <option value="Hatton">Hatton</option>
                        <option value="Hettipola">Hettipola</option>
                        <option value="Hikkaduwa">Hikkaduwa</option>
                        <option value="Hingurakgoda">Hingurakgoda</option>
                        <option value="Hingurana">Hingurana</option>
                        <option value="Hingurangala">Hingurangala</option>
                        <option value="Hokandara">Hokandara</option>
                        <option value="Homagama">Homagama</option>
                        <option value="Horana">Horana</option>
                        <option value="Hungama">Hungama</option>
                        <option value="Ibbagamuwa">Ibbagamuwa</option>
                        <option value="Imaduwa">Imaduwa</option>
                        <option value="Ingiriya">Ingiriya</option>
                        <option value="80">Elaa-Ela</option>
                        <option value="Jaffna">Jaffna</option>
                        <option value="Kadana">Kadana</option>
                        <option value="Kadawatha">Kadawatha</option>
                        <option value="Kadugannawa">Kadugannawa</option>
                        <option value="Kaduruwela">Kaduruwela</option>
                        <option value="Kaduwela">Kaduwela</option>
                        <option value="Kahatuduwa">Kahatuduwa</option>
                        <option value="Kahawatta">Kahawatta</option>
                        <option value="Kalagedihena">Kalagedihena</option>
                        <option value="Kalapaluwawa">Kalapaluwawa</option>
                        <option value="Kalawana">Kalawana</option>
                        <option value="Kaleliya">Kaleliya</option>
                        <option value="Kalmunai">Kalmunai</option>
                        <option value="Kalmunai">Kalmunai</option>
                        <option value="Kalpitiya">Kalpitiya</option>
                        <option value="Kaluaggala">Kaluaggala</option>
                        <option value="Kalubowila">Kalubowila</option>
                        <option value="Kaluthara">Kaluthara</option>
                        <option value="Kamburugamuwa">Kamburugamuwa</option>
                        <option value="Kamburupitiya">Kamburupitiya</option>
                        <option value="Kandana">Kandana</option>
                        <option value="Kandy">Kandy</option>
                        <option value="Karapitiya">Karapitiya</option>
                        <option value="Katana">Katana</option>
                        <option value="Kataragama">Kataragama</option>
                        <option value="Kattankudy">Kattankudy</option>
                        <option value="Katubedda">Katubedda</option>
                        <option value="Katugastota">Katugastota</option>
                        <option value="Katunayake">Katunayake</option>
                        <option value="Katuneriya">Katuneriya</option>
                        <option value="Katuwana">Katuwana</option>
                        <option value="Kebithigollewa">Kebithigollewa</option>
                        <option value="Kegalle">Kegalle</option>
                        <option value="Kekanadura">Kekanadura</option>
                        <option value="Kekirawa">Kekirawa</option>
                        <option value="Kelaniya">Kelaniya</option>
                        <option value="Kerawalapitiya">Kerawalapitiya</option>
                        <option value="Kesbewa">Kesbewa</option>
                        <option value="Kilinochchi">Kilinochchi</option>
                        <option value="Kimbulapitiya">Kimbulapitiya</option>
                        <option value="Kiribathgoda">Kiribathgoda</option>
                        <option value="Kirinda">Kirinda</option>
                        <option value="Kirulapone">Kirulapone</option>
                        <option value="Kitulgala">Kitulgala</option>
                        <option value="Kochchikade">Kochchikade</option>
                        <option value="Koggala">Koggala</option>
                        <option value="Kohuwala">Kohuwala</option>
                        <option value="Kollupitiya">Kollupitiya</option>
                        <option value="Kolonnawa">Kolonnawa</option>
                        <option value="Koralawella">Koralawella</option>
                        <option value="Korathota">Korathota</option>
                        <option value="Kosgama">Kosgama</option>
                        <option value="Kosgoda">Kosgoda</option>
                        <option value="Koswatta">Koswatta</option>
                        <option value="Kotadeniyawa">Kotadeniyawa</option>
                        <option value="Kotahena">Kotahena</option>
                        <option value="Kothalawala">Kothalawala</option>
                        <option value="Kotikawatta">Kotikawatta</option>
                        <option value="Kottawa">Kottawa</option>
                        <option value="Kotte">Kotte</option>
                        <option value="Kuliyapitiya">Kuliyapitiya</option>
                        <option value="Kundasale">Kundasale</option>
                        <option value="Kuruna">Kuruna</option>
                        <option value="Kurunegala">Kurunegala</option>
                        <option value="Kuruwita">Kuruwita</option>

                        <option value="Mabima">Mabima</option>
                        <option value="Mabola">Mabola</option>
                        <option value="Madampitiya">Madampitiya</option>
                        <option value="Madiwela">Madiwela</option>
                        <option value="Madola">Madola</option>
                        <option value="Magammana">Magammana</option>
                        <option value="Mahabage">Mahabage</option>
                        <option value="Mahara">Mahara</option>
                        <option value="Maharagama">Maharagama</option>
                        <option value="Mahiyanganaya">Mahiyanganaya</option>
                        <option value="Makola">Makola</option>
                        <option value="Makumbura">Makumbura</option>
                        <option value="Malabe">Malabe</option>
                        <option value="Malkaduwawa">Malkaduwawa</option>
                        <option value="Malwana">Malwana</option>
                        <option value="Mannar">Mannar</option>
                        <option value="Maradana">Maradana</option>
                        <option value="Marawila">Marawila</option>
                        <option value="Matale">Matale</option>
                        <option value="Matara">Matara</option>
                        <option value="Mathugama">Mathugama</option>
                        <option value="Mattakkuliya">Mattakkuliya</option>
                        <option value="Mattala">Mattala</option>
                        <option value="Matugama">Matugama</option>
                        <option value="Mawanella">Mawanella</option>
                        <option value="Mawathagama">Mawathagama</option>
                        <option value="Medawachchiya">Medawachchiya</option>
                        <option value="Medirigiriya">Medirigiriya</option>
                        <option value="Meegoda">Meegoda</option>
                        <option value="Meepe">Meepe</option>
                        <option value="Meethotamulla">Meethotamulla</option>
                        <option value="Menikhinna">Menikhinna</option>
                        <option value="Mihintale">Mihintale</option>
                        <option value="Minuwangoda">Minuwangoda</option>
                        <option value="Mirigama">Mirigama</option>
                        <option value="Mirissa">Mirissa</option>
                        <option value="Modara">Modara</option>
                        <option value="Monaragala">Monaragala</option>
                        <option value="Moratuwa">Moratuwa</option>
                        <option value="Morawaka">Morawaka</option>
                        <option value="4363">Laviniat Lavinia</option>
                        <option value="Mullaitivu">Mullaitivu</option>
                        <option value="4734">Northa North</option>
                        <option value="4047">Southa South</option>
                        <option value="Nainamadama">Nainamadama</option>
                        <option value="Narahenpita">Narahenpita</option>
                        <option value="Narammala">Narammala</option>
                        <option value="Nattandiya">Nattandiya</option>
                        <option value="Naula">Naula</option>
                        <option value="Navinna">Navinna</option>
                        <option value="Nawagamuwa">Nawagamuwa</option>
                        <option value="Nawala">Nawala</option>
                        <option value="Nawalapitiya">Nawalapitiya</option>
                        <option value="Negombo">Negombo</option>
                        <option value="Nelliady">Nelliady</option>
                        <option value="Nikaweratiya">Nikaweratiya</option>
                        <option value="Nilaveli">Nilaveli</option>
                        <option value="Nittambuwa">Nittambuwa</option>
                        <option value="Nivithigala">Nivithigala</option>
                        <option value="Nochchiyagama">Nochchiyagama</option>
                        <option value="Nugegoda">Nugegoda</option>
                        <option value="87">Eliyaa Eliya</option>
                        <option value="Oddamavadi">Oddamavadi</option>
                        <option value="Okkampitiya">Okkampitiya</option>
                        <option value="Orugodawatta">Orugodawatta</option>
                        <option value="Oruwala">Oruwala</option>
                        <option value="Padiyatalawa">Padiyatalawa</option>
                        <option value="Padukka">Padukka</option>
                        <option value="Pahalawela">Pahalawela</option>
                        <option value="Palapathwela">Palapathwela</option>
                        <option value="Palau">Palau</option>
                        <option value="Palaviya">Palaviya</option>
                        <option value="Pallekele">Pallekele</option>
                        <option value="Pamankada">Pamankada</option>
                        <option value="Pamunuwa">Pamunuwa</option>
                        <option value="Panadura">Panadura</option>
                        <option value="Panchikawatta">Panchikawatta</option>
                        <option value="Pannala">Pannala</option>
                        <option value="Pannipitiya">Pannipitiya</option>
                        <option value="Pasikuda">Pasikuda</option>
                        <option value="Passara">Passara</option>
                        <option value="Pasyala">Pasyala</option>
                        <option value="Pelawatta">Pelawatta</option>
                        <option value="Peliyagoda">Peliyagoda</option>
                        <option value="Pelmadulla">Pelmadulla</option>
                        <option value="Pepiliyana">Pepiliyana</option>
                        <option value="Peradeniya">Peradeniya</option>
                        <option value="Pettah">Pettah</option>
                        <option value="Pilimathalawa">Pilimathalawa</option>
                        <option value="Piliyandala">Piliyandala</option>
                        <option value="389">Kottea Kotte</option>
                        <option value="Pittugala">Pittugala</option>
                        <option value="81">Pedrot Pedro</option>
                        <option value="Polgahawela">Polgahawela</option>
                        <option value="Polgasowita">Polgasowita</option>
                        <option value="Polonnaruwa">Polonnaruwa</option>
                        <option value="Poojapitiya">Poojapitiya</option>
                        <option value="Pugoda">Pugoda</option>
                        <option value="Puttalam">Puttalam</option>
                        <option value="Radawana">Radawana</option>
                        <option value="Ragama">Ragama</option>
                        <option value="Rajagiriya">Rajagiriya</option>
                        <option value="Rambukkana">Rambukkana</option>
                        <option value="Ranala">Ranala</option>
                        <option value="Ranna">Ranna</option>
                        <option value="Rathmalana">Rathmalana</option>
                        <option value="Rathmale">Rathmale</option>
                        <option value="Ratnapura">Ratnapura</option>
                        <option value="Rattanapitiya">Rattanapitiya</option>
                        <option value="Ruhunupura">Ruhunupura</option>
                        <option value="Rukmalgama">Rukmalgama</option>
                        <option value="Ruwanwella">Ruwanwella</option>
                        <option value="Sampur">Sampur</option>
                        <option value="Sapugaskanda">Sapugaskanda</option>
                        <option value="Sedawatta">Sedawatta</option>
                        <option value="Seeduwa">Seeduwa</option>
                        <option value="Siddamulla">Siddamulla</option>
                        <option value="Sigiriya">Sigiriya</option>
                        <option value="Suriyakanda">Suriyakanda</option>
                        <option value="Talawa">Talawa</option>
                        <option value="Tangalle">Tangalle</option>
                        <option value="Thalahena">Thalahena</option>
                        <option value="Thalangama">Thalangama</option>
                        <option value="Thalathuoya">Thalathuoya</option>
                        <option value="Thalathuoya">Thalathuoya</option>
                        <option value="Thalawathugoda">Thalawathugoda</option>
                        <option value="Thambuttegama">Thambuttegama</option>
                        <option value="Thangalla">Thangalla</option>
                        <option value="Thimbirigasyaya">Thimbirigasyaya</option>
                        <option value="Thirunelvely">Thirunelvely</option>
                        <option value="Thotagoda">Thotagoda</option>
                        <option value="Thummulla">Thummulla</option>
                        <option value="Tissamaharama">Tissamaharama</option>
                        <option value="4770">Halln Hall</option>
                        <option value="Trincomalee">Trincomalee</option>
                        <option value="Udahamulla">Udahamulla</option>
                        <option value="Udappu">Udappu</option>
                        <option value="Udawalawa">Udawalawa</option>
                        <option value="Udugama">Udugama</option>
                        <option value="Udugampola">Udugampola</option>
                        <option value="Ukuwela">Ukuwela</option>
                        <option value="Unawatuna">Unawatuna</option>
                        <option value="5010">Placen Place</option>
                        <option value="Valvettithurai">Valvettithurai</option>
                        <option value="3639">Streetl Street</option>
                        <option value="Vavuniya">Vavuniya</option>
                        <option value="Veyangoda">Veyangoda</option>
                        <option value="Wadduwa">Wadduwa</option>
                        <option value="Waikkal">Waikkal</option>
                        <option value="Warakapola">Warakapola</option>
                        <option value="Wariyapola">Wariyapola</option>
                        <option value="Waskaduwa">Waskaduwa</option>
                        <option value="Wathupitiwala">Wathupitiwala</option>
                        <option value="Wattala">Wattala</option>
                        <option value="Wattegama">Wattegama</option>
                        <option value="Welesara">Welesara</option>
                        <option value="Weligama">Weligama</option>
                        <option value="Welikanda">Welikanda</option>
                        <option value="Welimada">Welimada</option>
                        <option value="Welipenna">Welipenna</option>
                        <option value="Welisara">Welisara</option>
                        <option value="Welivita">Welivita</option>
                        <option value="Wellampitiya">Wellampitiya</option>
                        <option value="Wellawatte">Wellawatte</option>
                        <option value="Wellawaya">Wellawaya</option>
                        <option value="Wennappuwa">Wennappuwa</option>
                        <option value="Werahera">Werahera</option>
                        <option value="Weralugama">Weralugama</option>
                        <option value="Wijerama">Wijerama</option>
                        <option value="Yakkala">Yakkala</option>
                        <option value="Yala">Yala</option>
                        <option value="Yanthampalawa">Yanthampalawa</option>
                        <option value="Yatawatta">Yatawatta</option>
                        <option value="Yatiyanthota">Yatiyanthota</option>
                      </select>
                      <div class="invalid-feedback"></div>
                    </div>


                    <!-- town -->
                    <!-- map -->
                    <div class="container" id="map-region">
                      <p class="font-weight-bold">Please Click "Find My Location" to get your coordinates. Please drag
                        the
                        marker
                        to pinpoint the exact location </p>
                      <div class="align-self-center mx-auto">

                        <!-- <button class="btn  btn-dark" type="button" onclick="getLocation()">Find My Location</button> -->
                      </div>
                      <p id="x"></p>
                      <div>
                        lattitude-location<p id="lat"></p>
                        lattitude-location <p id="long"></p>
                      </div>
                      <div id="map" style="height:500px;" class="mb-3"></div>
                    </div>
                    <!-- map -->




                    <div class="d-flex justify-content-center">
                      <button type="submit"
                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                    </div>

                  </form>

                  <p class="text-center text-muted mt-5 mb-0">Have already an account?
                    <a href="/citizen/register" class="fw-bold text-body"><u>Login here</u></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <!-- register -->




    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <script src="/assets/js/mapJs.js"></script>
    <script src="/assets/js/citizenRegisterJs.js"></script>

</body>

</html>